header {
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.header__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.header__text {
    margin-top: 7rem;
    text-align: right;
}

/* ============== CTA ============ */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: flex-end;
}

 /* =================== SOCIAL ============= */
 .header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
 }

 .header__social::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
 }

/* =================== ME ============= */
.me {
    background: var(--color-primary-variant);
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5 rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.me:hover {
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

/* =================== SCROLL DOWN ============= */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(-90deg);
    font-weight: 500;
    font-size: 0.9rem;
}

/* ===========MEDIA QUERY: Medium screen ===========  */
@media screen and (max-width: 1024px) {
    .me {
        width: 40%;
    }
    .header__div {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .cta {
        justify-content: center;
    }

    .header__text {
        margin-top: 0;
        text-align: center;
    }
}

/* ===========MEDIA QUERY: Medium screen ===========  */
@media screen and (max-width: 600px) {
    .header__social,
    .scroll__down {
        display: none;
    }
}